html {
    width: 100%;
    height: 100%;

    background: #222222;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
div,
button {
    border: none;
    margin: 0;
    padding: 0;

    text-decoration: none;

    color: #323232;

    font-family: "Inter";
    text-align: center;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.hidden {
    display: none !important;
}

.rect {
    min-width: 46px;
    height: 46px;
    border-radius: 5px;
    background: #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color .3s ease-in-out;
}

.rect:hover {
    background-color: #ccc;
}

.rect:active {
    background-color: #fff;
}


#popup {
    position: fixed;
    top: 1vh;

    background-color: #ffffff;
    padding: 3px 20px;
    border-radius: 5px;

    opacity: 0;
    transition: all .3s ease-in-out;
}

#popup-content {
    color: #000000;
}

#body {
    width: 375px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    visibility: hidden;
}

#body.loaded {
    visibility: visible;
}

#profile {
    width: 100%;
    background: #ffffff;
    border-radius: 10px;

    padding: 30px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#profile-photo {
    width: 200px;
    height: 200px;
    margin-left: 10px;
    margin-bottom: 10px;
}

#nickname {
    font-size: 30px;
    font-weight: 800;
}

#fullname {
    font-size: 40px;
    font-weight: 1000;
}

#email {
    margin-top: 10px;
    text-align: center;
}

#email-button {
    min-width: 140px;
    height: 24px;
    border-radius: 5px;
    cursor: pointer;

    background: #323232;
}

#email-button:hover > #email-address {
    color: #ccc;
}

#email-button:active > #email-address {
    color: #fff;
}

#email-address {
    font-size: 15px;
    color: #ffffff;
    padding: 0;
    margin: 0;

    transition: color .3s ease-in-out;
}

#email-address.animated {
    color: #fff !important;
}

#career {
    width: 95%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#cv {
    width: 80%;
    height: 45px;
}

#cv-download-button {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: #ffffff;

    cursor: pointer;

    transition: background .3s ease-in-out;
}

#cv-download-button:hover {
    background: #cccccc;
}

#cv-download-button:active {
    background: #ffffff;
}

#cv-download-button.clicked {
    background: #ffffff;
}

#cv-download-button > * {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 16px;
    font-weight: 600;
}

#cv-download-button > * > i {
    font-size: 15pt;
}

#cv-download-options {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#cv-download-options > * {
    background: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    cursor: pointer;

    transition: background .3s ease-in-out;
}

#cv-download-options > *:hover {
    background: #cccccc;
}

#cv-download-options > *:active {
    background: #ffffff;
}

#cv-download-options.clicked > * {
    background: #ffffff;
}

#cv-download-options :nth-child(1) {
    width: 40%;
    height: 100%;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#cv-download-options :nth-child(1) > img {
    width: 40px;
    height: auto;
}

#cv-download-options :nth-child(2) {
    width: 20%;
    height: 100%;
}

#cv-download-options :nth-child(2) > i {
    height: fit-content;
    font-size: 15pt;
}

#cv-download-options :nth-child(3) {
    width: 40%;
    height: 100%;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#cv-download-options :nth-child(3) > img {
    width: 40px;
    height: auto;
}

#links {
    width: 95%;

    display: flex;
    align-items: center;
    justify-content: end;
    gap: 25px;
}

#onlyfans-link {
    margin-right: auto;
}

#linkedin-link > i {
    color: #323232;
    font-size: 25pt;
    margin-top: 5px;
}

#github-link > i {
    color: #323232;
    font-size: 26pt;
}

#source-link > i {
    color: #323232;
    font-size: 17pt;
}
