<div
    class="
        window 
        absolute 
        bg-[#dee0e2] 
        shadow-2xl shadow-black
        left-0 
        rounded-sm
        max-w-full w-fit max-sm:w-full max-h-full h-fit max-sm:h-full
        flex flex-col
    "
>
    <!-- prettier-ignore -->
    <div 
        class="
           title-bar
           h-[30px]
           flex justify-between items-center
           p-3
           rounded-xs
           text-black
        "
    >
        <div></div>
        <p class="title"></p>
        <button class="close-button cursor-pointer"> ✕ </button>
    </div>

    <div class="window-container flex-grow"></div>
</div>
