<div
    class="
        window 
        absolute 
        bg-[#061616] 
        shadow-[inset_0_5px_10px_#39434e] 
        left-0 
        max-w-full w-fit max-sm:w-full max-h-full h-fit max-sm:h-full
        flex flex-col
    "
>
    <!-- prettier-ignore -->
    <div 
        class="
           title-bar
           h-[30px]
           flex justify-between items-center
           p-5
           rounded-xs
           text-white
        "
    >
        <p class="title"></p>
        <button class="close-button cursor-pointer"> ✕ </button>
    </div>

    <div class="window-container m-1 rounded-xs overflow-hidden flex-grow"></div>
</div>
